<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    <div class="card" style="padding: 5rem;">
        <div class="card-body">
            <h6 class="card-title text-center" style=" padding-bottom: 2rem;">Add Category</h6>
            <form action="/addCategory" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="categoryname" placeholder="Enter Category"
                        value="<%= values.categoryname %>">
                    <% if (typeof error1 !=='undefined' && error1.length> 0) { %>
                        <div style="color: red;">
                            <%= error1 %>
                        </div>
                        <% } %>
                </div>
                <input type="submit" class="btn btn-outline-success btn-sm" value="Add">
                <a href="/category"> <input class="btn btn-primary" style="margin: 0% 2%;" id="edit" type="button"
                        value="Cancel"></a>
            </form>
        </div>
</body>

</html>