<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    <div class="container" style="padding-top: 8rem;">
        <div class="card">
            <div class="card-body">
                <br>
                <h6 class="card-title text-center">Reset Password</h6><br>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <% if (typeof error !=='undefined' && error.length> 0) { %>

                            <div class="alert alert-warning"
                                style="text-align: center; font-size: 17px!important; border-radius: 0%;">
                                <%= error %> &nbsp; &nbsp; &nbsp;<a href="/viewProfile"
                                        style="color:#3d9970">&#10006;</a>
                            </div>

                            <% } %>
                                <form class="cmxform" method="post" action="/resetPass">
                                    <div class="row">
                                        <div class="col-sm-12 col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <input class="form-control" name="current_password" type="password"
                                                    placeholder="Enter Current Password ">
                                                <% if (typeof error1 !=='undefined' && error1.length> 0) { %>
                                                    <div style="color: red;">
                                                        <%= error1 %>
                                                    </div>
                                                    <% } %>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <input class="form-control" name="password" type="password"
                                                    placeholder="Enter New Password">
                                                <% if (typeof error2 !=='undefined' && error2.length> 0) { %>
                                                    <div style="color: red;">
                                                        <%= error2 %>
                                                    </div>
                                                    <% } %>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <input class="form-control" name="confirm_password" type="password"
                                                    placeholder="Enter Confirm New Password">
                                                <% if (typeof error3 !=='undefined' && error3.length> 0) { %>
                                                    <div style="color: red;">
                                                        <%= error3 %>
                                                    </div>
                                                    <% } %>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input class="btn btn-primary" type="submit" value="Reset">
                                        </div>
                                        <div class="col-sm-6 text-center" style="padding-top: 8px;">
                                            <a href="/viewProfile" class="forget">Cancel</a>
                                        </div>
                                    </div>
                                </form>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
            </div>
</body>

</html>